<div id="question_form">
<%= form_for @question, remote: true do |f| %>
  <div class="form-group">
    <%= f.label "Title" %>
    <%= f.text_field :title %>
  </div>
  <div class="form-group">
    <%= f.label "Question" %>
    <%= f.text_area :content, cols: 50, rows: 10 %>
  </div>
  <%= f.submit(:class => "btn btn-primary", :id => "new_question") %>
<% end %>
</div>
